*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #160738;
    color: white;
}
.win{
    position: relative;
    font-size: 16em;
    text-shadow: 0 0 50px #00ff0d,
    0 0 100px #00ff0d,
    0 0 150px #00ff0d,
    0 0 200px #00ff0d,
    0 0 250px #00ff0d; 
    animation: animated 5s linear infinite;
}
@keyframes animated{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}